<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>WKWebView</string>
		<key>detail</key>
		<string>学习WKWebView的基本使用</string>
		<key>targetVC</key>
		<string>WKWebViewTestVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>VideoPlayer</string>
		<key>detail</key>
		<string>学习视频播放器的基本使用</string>
		<key>targetVC</key>
		<string>VideoPlayerVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>壁纸</string>
		<key>detail</key>
		<string>学习segment和collectionView的基本使用</string>
		<key>targetVC</key>
		<string>PicMainVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>网络状态检测</string>
		<key>detail</key>
		<string>网络状态检测的基本使用</string>
		<key>targetVC</key>
		<string>ReachabilityVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>高效绘制圆角图片</string>
		<key>detail</key>
		<string>cell中包含大量的圆形图标，练习提高图片的显示性能</string>
		<key>targetVC</key>
		<string>TestCellVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Layer绘制圆角图片</string>
		<key>detail</key>
		<string>cell中包含大量的圆形图标，练习提高图片的显示性能</string>
		<key>targetVC</key>
		<string>LowTestCellVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>系统信息</string>
		<key>detail</key>
		<string>获取系统的一些信息</string>
		<key>targetVC</key>
		<string>SystemInfoVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>富文本</string>
		<key>detail</key>
		<string>练习attributedString的使用</string>
		<key>targetVC</key>
		<string>DetailViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机已安装应用</string>
		<key>detail</key>
		<string>查看手机安装的所有app</string>
		<key>targetVC</key>
		<string>ScanAppViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>NSDate处理</string>
		<key>detail</key>
		<string>时间格式化练习</string>
		<key>targetVC</key>
		<string>XLDateVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TableView多选</string>
		<key>detail</key>
		<string>修改TableView的默认多选框</string>
		<key>targetVC</key>
		<string>MultiSelectTableVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS11新特性演示</string>
		<key>detail</key>
		<string>iOS11新特性演示</string>
		<key>targetVC</key>
		<string>iOS11NewFeatureVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>AVFoundation</string>
		<key>detail</key>
		<string>包含调节系统音量、Text  To Speech</string>
		<key>targetVC</key>
		<string>AVFoundationTestVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>事件响应链</string>
		<key>detail</key>
		<string>事件响应链</string>
		<key>targetVC</key>
		<string>XLResponderVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FMDB</string>
		<key>detail</key>
		<string>FMDB</string>
		<key>targetVC</key>
		<string>XLFMDBVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UISearchBar</string>
		<key>detail</key>
		<string>UISearchBar使用</string>
		<key>targetVC</key>
		<string>XLSearchBarTestVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>NSURL</string>
		<key>detail</key>
		<string>NSURL Study</string>
		<key>targetVC</key>
		<string>NSURLTestVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TableViewCellTest</string>
		<key>detail</key>
		<string>点击Cell之后改变cell的高度</string>
		<key>targetVC</key>
		<string>TableViewCellTestVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>事件响应链</string>
		<key>detail</key>
		<string>事件响应链 hitTest</string>
		<key>targetVC</key>
		<string>EventHandlingVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ReactNative</string>
		<key>detail</key>
		<string>ReactNative混合开发</string>
		<key>targetVC</key>
		<string>RNPageVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>图片的相关操作</string>
		<key>detail</key>
		<string>图片的解压缩</string>
		<key>targetVC</key>
		<string>XLImageOperationVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CATextLayer</string>
		<key>detail</key>
		<string>提供简单文本布局和呈现纯文本或属性字符串的图层</string>
		<key>targetVC</key>
		<string>TextLayerVC</string>
	</dict>
</array>
</plist>
